:root {
  --main-color: #00a2ff;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
  letter-spacing: 2px;
}

p {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.container {
  max-width: 4px;
  margin: 70px;
  padding: 20px;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-left: 260px;
}

button {
  border: none;
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  margin-top: 0px;    
}

a {
  text-decoration: none;
  color: #fff;
}

#button1:hover {
  background-color: #006ea1;
}

#button2:hover {
  background-color: #005fa3;
}

#button3:hover {
  background-color: #007196;
}
