body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* HEADER */
header {
    background-color: #00a2ff;
    color: #fff;
    padding : 0em 2em 0em 2em;
}
a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.containerHeader{
    display: flex; 
    justify-content:space-between;
    text-align: center;
}
.containerQuizzeo{
    font-size:xx-large;
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.containerOptions{
    width: 25em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}
.containerAccount{
    width: 12em;
    display: flex;
    flex-flow:column-reverse;
    justify-content:center;
    align-content:space-between;
}
.containerIPSSI{
    width: 12em;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}

/* BODY */

.containerBody {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 30px;
}

/* BUTTON */

.modify-btn, .delete-btn {
    background-color: #00a2ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}
  
.modify-btn:hover, .delete-btn:hover {
    background-color: #005d8f;
}
  
.confirm-delete-btn, .cancel-delete-btn {
    background-color: #fff;
    color: #00a2ff;
    border: 2px solid #00a2ff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}
  
.confirm-delete-btn:hover, .cancel-delete-btn:hover {
    background-color: #00a2ff;
    color: #fff;
}


/* TABLES */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
  
th {
    text-align: left;
    background-color: #00a2ff;
    color: #fff;
    padding: 10px;
}
  
td {
    border: 1px solid #ddd;
    padding: 10px;
}


/* ADMIN */

.usersList {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
  
.usersList h2 {
    color: #00a2ff;
    font-size: 28px;
    margin-bottom: 20px;
}

