html {
    height: 100%;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width:100%;
}

/* HEADER */
header {
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.containerHeader{
    background-image: url("griffondor.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 10em;
    display: flex; 
    justify-content:space-between;
    text-align: center;
    padding : 0em 2em 0em 2em;
}
.containerHeaderMenu{
    background-image: url("poudlard.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 10em;
    display: flex; 
    justify-content:space-between;
    text-align: center;
    padding : 0em 2em 0em 2em;
}
.containerQuizzeo{
    font-size:xx-large;
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
}
.containerOptions{
    width: 55em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}
.containerAccount{
    width: 12em;
    display: flex;
    flex-flow:column-reverse;
    justify-content:center;
    align-content:space-between;
}
.containerIPSSI{
    width: 12em;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}

.containerPoudlard{
    width: 12em;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}

.containerNot{
    width: 12em;
    display: flex;
    justify-content:center;
    text-align: center;
}

.containerText{
    width: 12em;
    display: flex;
}
.optionHeader {
    padding: 0 1em 0 1em;
}
.spaceHeader {
    padding: 0 0.2em 0 0.2em;
}
.backgroundG{
    object-fit:scale-down;
}
.houseButton{
    width:2.7em;
    height: 2.7em;
}
.decoText{
    display: flex;
    align-items: center;
}
.decoIcone{
    width:1em;
    height: 1em;
}
/* BODY */

.containerBody {
    max-width: 750px;
    margin: 0 auto;
    padding: 10px;
    font-size: x-small;
}

h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 30px;
}
.spaceDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mainPage{
    display:flex;
    justify-content:space-between;

}
.banner{
    background-color: #F6AA1C;
    width: 18%;
    display:flex;
    justify-content: center;
}
.houseIcone{
    width: 11em;
    height: 12em;
}
/* FOOTER */

.footer{
    display: flex;
    justify-content: space-around;
    color:white;
}


/* BUTTON */

.buttonBlack  {
    padding: 15px 40px;
    background-color: #4D4D4D;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.buttonRed  {
    padding: 15px 40px;
    background-color: #a31c1c;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.buttonBlue  {
    padding: 15px 40px;
    background-color: #00a2ff;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.buttonBlack:hover, .buttonRed:hover, .buttonBlue:hover {
    background-color: #1e2c34;
}

/* TABLES */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
  
th {
    text-align: left;
    color: #fff;
    padding: 10px;
    justify-content: center;
}
  
td {
    border: 1px solid #ddd;
    padding: 10px;
}



/* FORM */

/* Dans createquizz.php */
.form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #BBBBBB;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 80%;
    box-sizing: border-box;
}


/* ADMIN */

.usersList {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
  
.usersList h2 {
    color: #00a2ff;
    font-size: 28px;
    margin-bottom: 20px;
}

/* USERMENU */

.quizz {
    width: 150px;
    height: 225px;
    border: solid;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .quizzButton{
    border-radius: 5px;
    color: white;
  }
  .choose2-quizz-btn {
    font-size: 13px;
    letter-spacing: 1px;
  }
  .delete2-btn {
    font-size: 13px;    
  }
  .modify2-btn{
    font-size: 13px;
  }
  .choose2-quizz-btn:hover{
    background-color: #017ec7;
  }
  .delete2-btn:hover{
    background-color: #017ec7;
  }
  .modify2-btn:hover{
    background-color: #017ec7;
  }
  
  .usermenuQuizzList{
    padding: 1em ;
    display: flex;
    justify-content:center;
  }
  .display {
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
  }

  .popup{
    width: 400px;
    background: #fff;
    border-radius: px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }

  .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
