body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

header {
    background-color: #00a2ff;
    color: #fff;
    padding : 0em 2em 0em 2em;
}
a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.containerHeader{
    display: flex; 
    justify-content:space-between;
    text-align: center;
}
.containerQuizzeo{
    font-size:xx-large;
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.containerOptions{
    width: 25em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}
.containerAccount{
    width: 12em;
    display: flex;
    flex-flow:column-reverse;
    justify-content:center;
    align-content:space-between;
}
.containerIPSSI{
    width: 12em;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}


