header {
  background-color: #00a2ff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
  letter-spacing: 2px;
}

p {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.form {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #00a2ff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-button:hover {
    background-color: #037cc2;
  }

.link {
  margin-top: 20px;
  font-size: 18px;
}

.link a {
  color: #333;
  text-decoration: none;
}