body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #00a2ff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
  letter-spacing: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


li {
  margin: 10px;
}

a {
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.link1 {
  background-color: #0077cc;
  color: white;
}

.link1:hover {
  background-color: #004b80;
  color: white;
}

.link2 {
  background-color: #00cc77;
  color: white;
}
.link2:hover {
  background-color: #009456;
  color: white;
}

.link3 {
  background-color: #cc7700;
  color: white;
}
.link3:hover {
  background-color: #8b5100;
  color: white;
}

.link4 {
  background-color: #cc0077;
  color: white;
}
.link4:hover {
  background-color: #940056;
  color: white;
}

a:last-child {
  display: block;
  text-align: center;
  margin-top: 50px;
  font-size: 1.2em;
}
a.retour {
  position: fixed;
  bottom: 0;
  left: 0;
}

.globalMain {
  position: relative;
  width: 150px;
  height: 200px;
  background-color: #eee;
}

.choose-quizz-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.modify-btn{
  position: absolute;
  bottom: 0;
  left: 0;
}
