.quizz {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #def3ff;
  border: solid;
  border-radius: 5px;
  border-color: #00a2ff;
  margin: 10px;
}

.choose-quizz-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: white;
  background-color: #00a2ff;
  border-color: #00a2ff;
  border-radius: 5px;

}
.delete-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  font-size: 13px;
  color: white;
  background-color: #00a2ff;
  border-color: #00a2ff;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-right: 4px;
}
.modify-btn{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-size: 13px;
  color: white;
  background-color: #00a2ff;
  border-color: #00a2ff;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-left: 4px;
}
.choose-quizz-btn:hover{
  background-color: #017ec7;
}
.delete-btn:hover{
  background-color: #017ec7;
}
.modify-btn:hover{
  background-color: #017ec7;
}

.usermenuQuizzList{
  padding: 1em ;
  display: flex;
  justify-content:center;
}
.display {
  display: flex;
  align-items: center;
  justify-content:center;
  text-align: center;
}